.item {
    padding: 2px 0;
}

.item a{
    color: whitesmoke;
    text-decoration: none;
}

.item a.active {
    color: grey;
  }

  .dialogItemAva {
      border-radius: 50%;
      width: 40px;
      vertical-align: middle;
      margin-right: 10px;
  }