.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsList {
    padding: 15px;
    color: whitesmoke;
}

.dialogsList .item {
  
}

.dialogsList .active {
    color: gold;
}

.messages {
    padding: 15px;
}

.messages .message {}