.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsList {
    padding: 0px 10px;
    color: whitesmoke;
}

.DialogsHeader {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
}

.messages {
    padding: 15px;
}